/* Container for the custom select */
.date-select-container {
  position: relative;
  width: 100%;
  margin: 20px auto; /* centers the component */
  font-family: Arial, sans-serif;
}

/* The custom select display area */
.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  font-size: 16px;
  height: 45px;
  color: #333;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 55%;
  margin: auto;
}

/* Style for the arrow indicator */
.arrow {
  margin-left: 8px;
}

/* Container for the dropdown options */
.options-container {
  position: relative;
  width: 55%;
  margin: auto;
}

/* Each option styled as a card */
.option-card {
  padding: 12px;
  margin: 15px 2px;
  border: 1px solid #eee;
  cursor: pointer;
  border: 1px solid rgb(237, 234, 234);
  /* transition: background-color 0.2s ease; */
  border-radius: 10px;
}

.option-card:hover {
  background-color: #f5f5f5;
}

/* Optionally, style the selected option within the dropdown (if you want visual feedback) */
.option-card.selected {
  background-color: #e0e0e0;
}
.arrow-svg{
  width: 15px;
}